.toast-container {
  position: fixed;
  background-color: rgba(249, 249, 249, 0.8);
  border: 2px solid #000;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  font-family: Arial, sans-serif;
  cursor: move;
  user-select: none;
  will-change: top, left;
  text-align: center;  /* Add this line to center all text */
}


.toast-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  width: 36px !important;
  height: 36px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-heading {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.toast-message {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.toast-message h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  border-left: 4px solid #ff7a00;
  padding-left: 8px;
}

.toast-message h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  border-left: 4px solid #ff0000;
  padding-left: 8px;
}
