* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.Toastify__toast-container {
  top: 80px !important;
}


.global-Colors{
  --toast_default_colors: predefined;
  --success: #28a745;
  --danger: #dc3545;
  --light: #f9f9f9;
  --dark: #666;
  --white: #555;
  --gray: #333;
  --gray-dark: #000;
}