* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f9f9f9;
  --text-primary: #000;
  --text-secondary: #666;
  --text-secondary: #bbb;
  --text-secondary-cards-bg: #000;
  --text-secondary-cards: #000;
  --accent-primary: #f5c518;
  --accent-secondary: #e6b800;
  --border-color: #ccc;
  --card-bg: #fff;
  --card-border: #eee;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --bg-primary: #181818;
  --bg-secondary: #23211a;
  --text-primary: #fff;
  --text-secondary-cards-bg: #000;
  --accent-primary: #ffffff;
  --accent-secondary: #828281;
  --border-color: #444;
  --card-bg: #23211a;
  --card-border: #bfa14a33;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-primary, #fff);
  color: var(--text-primary, #000);
  line-height: 1.6;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.Toastify__toast-container {
  top: 80px !important;
}

.global-Colors {
  --toast_default_colors: predefined;
  --success: #28a745;
  --danger: #dc3545;
  --light: #f9f9f9;
  --dark: #666;
  --white: #555;
  --gray: #333;
  --gray-dark: #000;
}
