.go-back-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    z-index: 999;
  }
  
  .go-back-button:hover {
    background-color: #000;
    transform: scale(1.05);
  }
  